.App {
  height: 100%;
}

.header {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

.wrapper {
  display: flex;
  height: calc(100% - 120px);
}

.sidebar {
  flex: 1 1 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
  height: 100%;
}

.container {
  flex: 5 5 800px;
}
